@keyframes toast-in {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes skill-card-in {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	60% {
		opacity: 1;
		transform: translateY(-5%);
	}
	80% {
		transform: translateY(2%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes skeleton {
	20% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	80% {
		opacity: 1;
	}
}
