@font-face {
	font-family: "Consolas";
	src: url("/fonts/Consolas.woff2") format("woff2");
}

@font-face {
	font-family: "BIZUDGothic";
	src: url("/fonts/BIZUDGothic-Regular.woff2") format("woff2");
}
