@theme {
	--color-theme-primary: #181818;
	--color-theme-secondary: #1f1f1f;
	--color-theme-accent: #0859b6;
	--color-theme-text-primary: #cccccc;
	--color-theme-text-accent: #dddddd;
	--color-theme-border: #2b2b2b;

	--breakpoint-: initial;
	--breakpoint-small: 768px;
	--breakpoint-medium: 1025px;
	--breakpoint-large: 1281px;
	--breakpoint-extra: 1536px;

	--container-small: 768px;
	--container-medium: 1025px;
	--container-large: 1281px;
	--container-extra: 1536px;

	--animate-toast-in: toast-in 0.3s linear;
}
